Parte02/ETNET_ProblemaPractico/AWNegocioBanco/Service References/SWNegocioBanco/SWNegocioBanco15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadNegocio.Banco" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadNegocio.Banco" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ENBanco">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoBanco" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ENBanco" nillable="true" type="tns:ENBanco" />
  <xs:complexType name="ArrayOfENBanco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENBanco" nillable="true" type="tns:ENBanco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfENBanco" nillable="true" type="tns:ArrayOfENBanco" />
</xs:schema>