Parte02/ETNET_ProblemaPractico/AWNegocioBanco/Service References/SWNegocioBanco/SWNegocioBanco8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadNegocio.Estado" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadNegocio.Estado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ENEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEstado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ENEstado" nillable="true" type="tns:ENEstado" />
  <xs:complexType name="ArrayOfENEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENEstado" nillable="true" type="tns:ENEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfENEstado" nillable="true" type="tns:ArrayOfENEstado" />
</xs:schema>