Parte02/ETNET_ProblemaPractico/AWNegocioBanco/Service References/SWNegocioBanco/SWNegocioBanco16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadNegocio.Sucursal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadNegocio.Sucursal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ENSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoBanco" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSucursal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ENSucursal" nillable="true" type="tns:ENSucursal" />
  <xs:complexType name="ArrayOfENSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENSucursal" nillable="true" type="tns:ENSucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfENSucursal" nillable="true" type="tns:ArrayOfENSucursal" />
</xs:schema>